<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>

  <appSettings>
    <!--データベース接続情報（サーバ）-->
    <add key="SV_ServerName" value="192.168.2.29"/>
    <add key="SV_UserId" value="sugitec"/>
    <add key="SV_Password" value="sugitec"/>
    <add key="SV_DBName" value="sugitec_dev1"/>
    <!--データベース接続情報（ローカル）-->
    <add key="CL_Provider" value="Microsoft.ACE.OLEDB.12.0"/>
    <add key="CL_DBPath" value=".\DataBase"/>
    <add key="CL_DBName" value="Sugitec.accdb"/>
    <!--請求書テンプレートのパス-->
    <add key="TMP_INVOICE_PATH" value=".\Excel\Invoice\"/>
    <!--月次帳票テンプレートのパス-->
    <add key="TMP_MONTHLY_PATH" value=".\Excel\Monthly\"/>
    <!--年次帳票テンプレートのパス-->
    <add key="TMP_YEAR_PATH" value=".\Excel\Year\"/>
    <!--その他テンプレートのパス-->
    <add key="TMP_OTHER_PATH" value=".\Excel\OTher\"/>
    <!--売上表のテンプレートファイル名-->
    <add key="TMP_SALES_LIST" value="売上帳.xlsx"/>
    <!--年度別売上対比表のテンプレートファイル名-->
    <add key="TMP_SALES_COMPARISON" value="年度別売上対比表.xlsx"/>

  </appSettings>


</configuration>
